In [ ]:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [2]:
print("fatih","mehmet",18,"yaşında")

fatih mehmet 18 yaşında

In [3]:
print("fatih")
print("mehmet")
print(18)

fatih
mehmet
18

In [8]:
print("fatih", end=" ")
print("mehmet", end=" ")
print(18)

fatih+mehmet+18

In [11]:
print("fatih","mehmet",18,"yaşında", sep="@")

fatih@mehmet@18@yaşında

In [12]:
print("fyar","gmail.com",sep="@")

fyar@gmail.com

In [14]:
color = input("what is you favorite color?")
animal = input("what is you favorite animal?")
print(color,animal,sep=" cute ")

red cute cat

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

In [15]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [17]:
firststring = "water"
secondstring = "fall"
thirdstring = firststring+secondstring
print(thirdstring)

waterfall

In [20]:
x = 33 #int
y = 7.0 #float
print(x+y)
print(x/3)
print(x*3)

40.0
11.0
99

In [ ]:
BODMAS
1-() 
2-power **
3-unary minus: **-2
3-* , /
4-+ , -

In [27]:
print(1+1)
print(100/33)
print(2**-2)

2
3.0303030303030303
0.25

In [40]:
int1 = 2
int2 = 2
flo1 = 1.0
print(type(int1+int2)) #int ile int toplanırsa sonuç int olur

print(type(int1+flo1)) #int ile float toplanırsa sonuç değer float olur

print(type(int1/int2)) #bölme işlemlerinin sonucu float olur

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
no1 = 46
no2 = 54
no5 = 21

In [34]:
no1, no2, no5 = 46, 54, 21
no3 = no1 + no2
print(no3)

100

In [37]:
variable1, variable2 = "value1", "value2"

In [39]:
variable1 = variable2 = variable3 = "value"
print(variable2)

cohort2

In [41]:
print(7//2)

3

In [42]:
print((3*4)/2)

6.0

In [43]:
print(9%2)

1

In [44]:
print(3**2)

9

In [46]:
print(64**0.5)

8.0

In [49]:
print('Result of this (12+7) sum :', 12 + 7)

Result of this (12+7) sum : 19

In [ ]:
-= decrements the variable in place,
+= increment the variable in place,
*= multiply the variable in place,
/= divide the variable in place,
//= ﬂoor divide the variable in place,
%= returns the modulus of the variable in place,
**= raise to power in place.

In [56]:
variable1 = 10
variable1 += 3 # variable1 = variable1 + 1
print(variable1)

1

In [ ]:
\n #new line
\t #tab
\b #backspace
escape sequence \

In [59]:
print('C:\\november\number_expenditure.txt')

D:
ovember
umber_expenditure.txt

In [64]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [67]:
print('it\'s funny to learn "Python"')

it's funny to learn "Python"

In [76]:
print('C:\\\\november\\turnout\\back\\number_expenditure.txt')

C:\\november\turnout\back\number_expenditure.txt

In [79]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very ' + text2)   #Output: it's very easy

it's very easy

In [84]:
print('Here we go!')
print('I will be the second text')
a = '3'
b = 5
print('It is time for an error message :(')
print(a + b)  # it won't be printed
print("Sorry, but I won't be printed")  # it won't be printed

Here we go!
I will be the second text
It is time for an error message :(

TypeError: can only concatenate str (not "int") to str

In [85]:
print(int('ten'))

ValueError: invalid literal for int() with base 10: 'ten'

In [92]:
print(variable)
variable = "Don't ever give up!"
print(variable)

Don't ever give up!

In [ ]:
is_pass = True
is_pass = False

and, or, not

Value1  Logic  Value2   Returns
True    and    True     True
True    and    False    False
False   and    True     False
False   and    False    False
True    or     True     True
True    or     False    True
False   or     True     True
False   or     False    False

In [ ]:
1-not
2-and
3-or

In [ ]:
True and (not True)
           False

In [93]:
logic = True and False or not False or False
#True and False or True or False
#False or True or False
print(logic)

True

In [ ]:
#Falsy
-None 
-Zero(0); 0, 0.0, 0j
-Empty sequences and collections; "", [], {}

#Truthy
-1
-1.0
-"dolustring"

In [94]:
print(2 and 3)

3

In [95]:
print(2 or 3)

2

In [96]:
print(1 and 0)

0

In [97]:
print([] and "Hello World!")

[]

In [100]:
print([] and "Hello World!")

[]

In [101]:
print(None or 1)

1

In [102]:
print(0 or {})

{}

In [103]:
print([] or "Hello World!")

Hello World!

In [109]:
fruit = "Orange"
print('Word: ' , fruit)
print('First letter: ' , fruit[0])
print('Second letter: ' , fruit[1])
print('3rd to 5th letters: ', fruit[2:5]) 
print('Letter all after 3rd: ', fruit[2:])

Word:  Orange
First letter:  O
Second letter:  r
3rd to 5th letters:  ang
Letter all after 3rd:  ange

In [ ]:
syntax
string[start:stop:step]

In [119]:
city = 'Phoenix'
print(city[1:])
print(city[:6])
print(city[::2]) #Ponx
print(city)
print(city[1::2])    #hei
print(city[-3:])
print(city[4:])
print(city[::-1])

hoenix
Phoeni
Ponx
Phoenix
hei
nix
nix
xineohP

In [120]:
len(city)

7

In [124]:
vegetable = "Tomato"
print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6 True

Arithmetic syntax (+, *, and =),

% operator formatting,

string.format() method,

f-string formatting.

In [131]:
yaş = 36
string = "ben {} yaşındayım."
print(string.format(yaş))

ben 36 yaşındayım.

In [132]:
print('yonetim' + 'academy')

yonetimacademy

In [136]:
print(3*" No way!")

 No way! No way! No way!

In [138]:
fruit = 'Orange'
vegetable = 'Tomato'
print(fruit+vegetable)
print(2*fruit+3*vegetable)

OrangeTomato
OrangeOrangeTomatoTomatoTomato

In [147]:
fruit = "orange"
fruit += " apple"
print(fruit)

orange apple

In [148]:
fruit = "orange"
fruit *= 2
print(fruit)

orangeorange