In [1]:
row_numb = int(input("Please enter number of rows?: "))
for i in range(1, row_numb+ 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [5]:
satir_sayisi = int(input("Lütfen satır sayısını girin: "))
for i in range(1, satir_sayisi + 1):
    bosluk_sayisi = satir_sayisi - i
    print(" " * bosluk_sayisi, end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print("")

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [6]:
row_numb = int(input("Please enter number of rows?: "))
for space in range(1, row_numb+ 1):
    space_count = row_numb - space
    print(" " * space_count, end="")
    for row in range(1, space + 1):
        print(row, end=" ")
    print("")

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [7]:
row_numb = int(input("Please enter number of rows?: "))
for space in range(1, row_numb+ 1):
    space_count = row_numb - space
    print(" " * space_count, end="")
    for row in range(1, space + 1):
        print(row, end=" ")
    print("")

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [8]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city_list = []
city_list.append(city)

In [9]:
city_list[0][-1]

'Sydney'

In [12]:
city_list[0][-2][-2]

'u'

In [10]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]

In [11]:
numbers[2:5]

[5, 7, 9]

In [13]:
myDict = {} 
myDict["one"] = 1 
myDict["two"] = 2 
myDict[3] = "three" 
myDict["four"] = 4.4

In [16]:
myDict.items()

dict_items([('one', 1), ('two', 2), (3, 'three'), ('four', 4.4)])

In [17]:
myDict.keys()

dict_keys(['one', 'two', 3, 'four'])

In [21]:
myDict['one']

1